<% include ../partials/header %>

<div class="container">
<h1 class="display-4"><%= board.title %></h1>
<img src="<%= board.image%>" alt="" width="100%">
<h5><%= board.body %></h5>
</div>


<% include ../partials/footer %>